.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    height: 600px;
}

.item {
    padding: 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}