.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;

}

.item {
    padding: 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}