body {
    margin: 0;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #dedede;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-menu a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    color: #4747b1;
    border-bottom: 2px solid #4747b1;
    transition: .2s;
}


/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    gap: 50px;
}

.card-item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.card-link {
    display: flex;
    gap: 20px;
}



/* Breakpoint */

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
    }

    .nav-menu {
        padding: 0;
    }
}